<div class="container">
	<div class="row" *ngFor="let sec of sections">Section {{ sec.id }}
		<div *ngFor="let s of seats">
			<div class="col" *ngIf="s.section_id == sec.id" data-id="s.id" id="{{s.id}}">

				<div *ngIf="s.sold || sec.disabled"><img id="{{s.id}}" [src]="ssi">
				</div>

				<div *ngIf="!s.sold && !sec.disabled">
					<div *ngIf="sel.includes(s)">
						<img *ngIf="s.ha"  name="{{sec.id}}.{{s.id}}" id="{{s.id}}" [src]="hss" (click)="seatClick($event)">
						<img *ngIf="!s.ha" name="{{sec.id}}.{{s.id}}" id="{{s.id}}" [src]="rss" (click)="seatClick($event)">
					</div>
					<div *ngIf="! sel.includes(s)">
						<img *ngIf="s.ha"  name="{{sec.id}}.{{s.id}}" id="{{s.id}}" [src]="hsu" (click)="seatClick($event)">
						<img *ngIf="!s.ha" name="{{sec.id}}.{{s.id}}" id="{{s.id}}" [src]="rsu" (click)="seatClick($event)">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
